<a href="https://colab.research.google.com/github/hansjang/Py_Radar/blob/main/finance2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# !pip install pandas==1.5.3
# !pip install numpy
import pandas as pd
import numpy as np

Requirement already satisfied: pandas==1.5.3 in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)

In [20]:
data = {
    'name': ['철수', '영희', '수만', '영수'],
    'age': [15, 12, 20, 35]
}

df = pd.DataFrame(data)

In [21]:
doc = {
    'name': '세종',
    'age': 23
}

df = df.append(doc, ignore_index=True)
df

<ipython-input-21-cf0d06f79398>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(doc, ignore_index=True)

  name  age
0   철수   15
1   영희   12
2   수만   20
3   영수   35
4   세종   23

In [30]:
df['city'] = ['서울', '부산', '대구', '서울', '울산']
df
# df[['name', 'city']]

# cond = df['age'] < 20
# df[cond]

# 마지막 줄의 첫 컬럼
# df.iloc[-1, 0]

# 가장 나이 많은 name은?
# df.sort_values(by='age', ascending = False).iloc[0, 0]

  name  age city is_adult
0   철수   15   서울      청소년
1   영희   12   부산      청소년
2   수만   20   대구       성인
3   영수   35   서울       성인
4   세종   23   울산       성인

In [31]:
df['is_adult'] = np.where(df['age'] < 20, '청소년', '성인')
df

  name  age city is_adult
0   철수   15   서울      청소년
1   영희   12   부산      청소년
2   수만   20   대구       성인
3   영수   35   서울       성인
4   세종   23   울산       성인

In [32]:
df['age'].describe()

count     5.000000
mean     21.000000
std       8.916277
min      12.000000
25%      15.000000
50%      20.000000
75%      23.000000
max      35.000000
Name: age, dtype: float64

In [34]:
cond = df['city'] == '서울'
df[cond]['age'].mean()
# df[cond]['age'].max()

35